@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*cor e fonte do corpo*/
body{
    font-family: 'Open-Sans', sans-serif;
    background: #0B1541;
}

/*cabeçalho*/
header nav{
    background: #0B1541;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #F4AD00;
}

label.logo{
    color: #F4AD00;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold; /*negrito*/
}

.logo_img{
    max-width:400px;
    max-height:100px;
    width: auto;
    height: auto;
    padding: 20px;
}

header nav ul{
    float: right;
    margin-right: 20px;
}

header nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 6px;
}

header nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase; /**/
}

a.active,a:hover{
    background: #F4AD00;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color:#F4AD00;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

main{
  background-color: #0B1541;
}
